<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:border>
    <div class="card border-primary">
        <div class="card-header bg-primary text-light">
            <wicket:message key="filter"/>
        </div>
        <div class="card-body">
            <form wicket:id="form">
                <div class="form-row ">
                    <div class="form-group col-md-5">
                        <label wicket:for="quickSearch">
                            <wicket:message key="quickSearch"/>
                        </label>
                        <div class="input-group">
                            <input type="text" wicket:id="quickSearch" class="form-control">
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label wicket:for="unit">
                            <wicket:message key="unit"/>
                        </label>
                        <select wicket:id="unit" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <div class="custom-control custom-checkbox">
                            <input wicket:id="includeUnitChilds" type="checkbox" class="custom-control-input">
                            <label wicket:for="includeUnitChilds" class="custom-control-label">
                                <wicket:message key="include-childs"/>
                            </label>
                        </div>
                    </div>
                </div>
                <wicket:body>
                    [BODY]
                </wicket:body>
                <button type="submit" class="btn btn-outline-primary">
                    <span class="fa fa-file-text"></span>
                    <wicket:message key="do-filter"/>
                </button>
                <button wicket:id="clear-filter" type="submit" class="btn btn-outline-secondary">
                    <span class="fa fa-close"></span>
                    <span><wicket:message key="clear-filter"/></span>
                </button>
            </form>
        </div>
    </div>
</wicket:border>
</body>
</html>